{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static "gtc_app/style.css" %}">
    <title>Sistema GTC / Página Principal</title>
</head>
<body>
    
    {% include "gtc_app/rotas/menu.html" %}
    <div class="principal">
        <h1>Últimos Usuários Cadastrados</h1>
        <ul>
            {% for usuario in usuarios %}
                <li> {{usuario.nome}}</li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>