{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static "gtc_app/style.css" %}">
    <title>Sistema GTC / Cadastrar</title>
</head>
<body>
    
    {% include "gtc_app/rotas/menu.html" %}
        {% if mensagem_erro %}
            <p>{{ mensagem_erro }}</p>
        {% endif %}
        <!-- Formulário de cadastro de usuário -->
        <form action="{% url 'salvos' %}" method="post">
            {% csrf_token %} <!-- Adiciona o token CSRF -->
            <div class="cadastrar">

                <label for="nome">Nome:</label> <!-- Rótulo para o campo de nome -->
                <input type="text" id="nome" name="nome" required><br><br> <!-- Campo de entrada para o nome -->

                <label for="data_nascimento">Data de Nascimento:</label> <!-- Rótulo para o campo de data de nascimento -->
                <input type="date" id="data_nascimento" name="data_nascimento" required><br><br> <!-- Campo de entrada para a data de nascimento -->

                <label for="email">E-mail:</label> <!-- Rótulo para o campo de e-mail -->
                <input type="email" id="email" name="email" required><br><br> <!-- Campo de entrada para o e-mail -->

                <label for="pais">País que deseja trabalhar:</label>
                <select id="pais" name="pais" required>
                    <option value="" disabled selected>Selecione o país</option>
                    {% for pais in paises %}
                        <option value="{{ pais.nome }}">{{ pais.nome }}</option>
                    {% endfor %}
                </select><br><br>

                <input type="submit" value="Cadastrar"><br><br> <!-- Botão para enviar o formulário -->
            </div>
        </form> <!-- Fim do formulário -->
</body>
</html>
